body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x:hidden;
}

article{
    flex:1;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: flex-start, space-evenly;
    background-color: aliceblue;
    border-bottom:2px solid black;
    width:100%;
}

.navbar a {
    display: flex;
    flex:1;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:#5C7BAD;
    font-size: large;
}

.navbar a:hover {
    background-color: #0F1E53;
    color:white;
}

.navbar img {
    width: auto;
    height:70px;
    padding-left: 20px;
}

.content {
    padding: 70px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    flex-wrap: wrap;
}

#title {
    display: flex;
    justify-content: center;
}

.footer {
    position:relative;
    bottom:0;
    width:100%;
    background-color: aliceblue;
    border-top:2px solid black;
    height: 5%;
    padding: 1%;
    text-align: center;
}

#introP{
    display: flex;
    justify-content: center;
    font-size: medium;
    overflow: hidden;
}

.description-p {
    margin-top: -15px;
}

.description{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.mini-words{
    font-size: small;
    margin-top: -20px;
}

.table {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    margin: 50px 0px;
    overflow: auto;
    box-sizing: border-box; 
    margin: 25px 5% 20px 5%;

    a{
        text-decoration: none;
        color: #5C7BAD;
        width:fit-content;
    }

    a:hover{
        background-color: #0F1E53;
        border-radius: 10px;
        color: white;
        padding: 5px 0px 5px 0px;
    }
}

.table-header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    box-sizing: border-box; 
}

#course-content {
    max-width: 800px;
}

#instructor-info {
    max-width: 800px;
    flex: 1;
}

#announcement {
    max-width: 100%;
}