<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assignment.css">
    <title>Assignment</title>
</head>
<body>
    <!--navbar-->
    <div class="navbar">
        <img src="resources/logo.png">
        <a href="index.html">Home</a>
        <a href="CourseTeam.html">CourseTeam</a>
        <a href="calendar.html">Calender</a>
        <a href="lecture.html">Lecture/Lab</a>
        <a href="assignment.html">Assignment</a>
        <a href="resources.html">Resources</a>
        <a href="feedback.html">Feedback</a>
    </div>
    <!-- Content of the page -->
    <article>
        <div class="content">
            <h1 id="title">Assignment</h1>
        </div>
        <div class="row table">
            <div class="num" id="head"><h2><br></h2></div>
            <div class="exercise" id="head"><h2>Exercise</h2></div>
            <div class="topic" id="head"><h2>Topic (tentative)</h2></div>
            <div class="weight" id="head"><h2>Weight</h2></div>
            <div class="due" id="head"><h2>Due Data</h2></div>
            <div class="solution" id="head"><h2>Solutions</h2></div>

            <div class="num"><p>1</p></div>
            <div class="exercise"><p><a href="resources/pdf.pdf" target="_blank">Handout</a></p></div>
            <div class="topic"><p>Relational Algebra and MySQL</p></div>
            <div class="weight"><p>8%</p></div>
            <div class="due"><p>February 14, 2024 @11:59pm</p></div>
            <div class="solution"><p><a href="resources/pdf.pdf" target="_blank">A1 Solution</a></p></div>

            <div class="num"><p>2</p></div>
            <div class="exercise"><p><a href="resources/pdf.pdf" target="_blank">Handout</a><a href="resources/pdf.pdf" target="_blank"> a2.zip</a></p></div>
            <div class="topic"><p>HTML, CSS, Python Flask</p></div>
            <div class="weight"><p>10%</p></div>
            <div class="due"><p>March 15, 2024 @11:59pm</p></div>
            <div class="solution"><p><a href="resources/pdf.pdf" target="_blank"><br></a></p></div>

            <div class="num"><p>3</p></div>
            <div class="exercise"><p><a href="resources/pdf.pdf" target="_blank">A3 Handout</a></p></div>
            <div class="topic"><p>Web Application and Database</p></div>
            <div class="weight"><p>15%</p></div>
            <div class="due"><p>TBA</p></div>
            <div class="solution"><p><a href="resources/pdf.pdf" target="_blank"><br></a></p></div>
        </div>
    </article>
    <!-- Footer -->
    <div class="footer">
        <p>© 2024 CSCB20. All Rights Reserved. Site designed by Lucy Lin and Snow Shi. <br>
            <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at University of Toronto</a>
        </p>
    </div>
</body>
</html>