<!-- This extension is done using jinja -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CSCB20 website{% endblock %}</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block additional_css %}{% endblock %}
</head>
<body>
    <!-- template inheritance -->
    <!-- parent template -->
    <!-- navbar -->
    <div class="navbar">
        <img src="{{ url_for('static', filename='img/logo.png') }}">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('CourseTeam') }}">CourseTeam</a>
        <a href="{{ url_for('calendar') }}">Calendar</a>
        <a href="{{ url_for('lecture') }}">Lecture/Lab</a>
        <a href="{{ url_for('assignment') }}">Assignment</a>
        <a href="{{ url_for('resources') }}">Resources</a>
        <a href="{{ url_for('feedback') }}">Feedback</a>
    </div>
    <article>
        {% block content %}
        {% endblock %}
    </article>
    <!-- Footer -->
    <div class="footer">
        <p>© 2024 CSCB20. All Rights Reserved. Site designed by Lucy Lin and Snow Shi. <br>
            <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at University of Toronto</a>
        </p>
    </div>
</body>
</html>