<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="calendar.css">
    <title>Calendar</title>
</head>
<body>
    <!--navbar-->
    <div class="navbar">
        <img src="resources/logo.png">
        <a href="index.html">Home</a>
        <a href="CourseTeam.html">CourseTeam</a>
        <a href="calendar.html">Calender</a>
        <a href="lecture.html">Lecture/Lab</a>
        <a href="assignment.html">Assignment</a>
        <a href="resources.html">Resources</a>
        <a href="feedback.html">Feedback</a>
    </div>
    
    <!-- Content of the page -->
    <article>
        <div class="content">
            <h1 id="title">Calender</h1>
            <div class="iframe-container">
                <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FToronto&bgcolor=%234285F4&mode=WEEK&title=Office%20Hours%20%2F%20Important%20Dates&src=b2xpdml2aTY5MUBnbWFpbC5jb20&color=%23039BE5" style="border:solid 1px aliceblue" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </article>
    
    <!-- Footer -->
    <div class="footer">
        <p>© 2024 CSCB20. All Rights Reserved. Site designed by Lucy Lin and Snow Shi. <br>
            <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at University of Toronto</a>
        </p>
    </div>
</body>
</html>