<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="feedback.css">
    <title>Feedback</title>
</head>
<body>
    <div class="navbar">
        <img src="resources/logo.png">
        <a href="index.html">Home</a>
        <a href="CourseTeam.html">CourseTeam</a>
        <a href="calendar.html">Calender</a>
        <a href="lecture.html">Lecture/Lab</a>
        <a href="assignment.html">Assignment</a>
        <a href="resources.html">Resources</a>
        <a href="feedback.html">Feedback</a>
    </div>
    <!-- Content of the page -->
    <article>
        <div class="Content">
            <h1 id="title">Feedback form</h1>
            <p>
                Please leave your feedback for us. We appreciate any suggestions and will do our best
                to improve the course!
            </p>
            <div class="feedback-form">
                <form action="">
                    <label for="done-well">1. What did we do well?</label> <br>
                    <textarea id="done-well" name="done-well"></textarea>
                    <br>
                    
                    <label for="improve">2. What should we improve on?</label> <br>
                    <textarea id="improve" name="improve"></textarea>
                    <br>

                    <label for="feedback">3. Any general feedback?</label> <br>
                    <textarea id="feedback" name="feedback"></textarea>
                    <br>

                    <button type="submit" id="submit">Submit</button>
                </form>
            </div>
        </div>
    </article>
    <!-- Footer -->
    <div class="footer">
        <p>© 2024 CSCB20. All Rights Reserved. Site designed by Lucy Lin and Snow Shi. <br>
            <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at University of Toronto</a>
        </p>
    </div>
</body>
</html>