{% extends "base.html" %}

{% block title %}Lecture{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lecture.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <h1 id="title">Lecture</h1>
    <a href="{{ url_for('lab') }}"><h3>Tutorial Labs</h3></a>
</div>
<div class="table">
    <!-- <div class="table-header"><h2></h2></div> -->
    <div class="table-header"><h2>Week</h2></div>
    <div class="table-header2"><h2>Topic</h2></div>
    <div class="table-header3"><h2>Readings</h2></div>
    <div class="table-header4"><h2>Lecture</h2></div>
    <div class="week">0</div>
    <div class="topic">
        <p>Introduction - Databases, Relational Model</p>
    </div>
    <div class="description1">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Some Reading</a></p>
    </div>
    <div class="description2">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Lecture Material</a></p>
    </div>
    <div class="week">1</div>
    <div class="topic">
        <p>Relational Model, Relational Algebra</p>
    </div>
    <div class="description1">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Some Reading</a></p>
    </div>
    <div class="description2">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Lecture Material</a></p>
    </div>
    <div class="week">2</div>
    <div class="topic">
        <p>Relational Algebra Queries and SQL Query Language</p>
    </div>
    <div class="description1">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Some Reading</a></p>
    </div>
    <div class="description2">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Lecture Material</a></p>
    </div>
    <div class="week">3</div>
    <div class="topic">
        <p>SQL Query Language</p>
    </div>
    <div class="description1">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Some Reading</a></p>
    </div>
    <div class="description2">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Lecture Material</a></p>
    </div>
    <div class="week">4</div>
    <div class="topic">
        <p>SQL and Introduction to web development</p>
    </div>
    <div class="description1">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Some Reading</a></p>
    </div>
    <div class="description2">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Lecture Material</a></p>
    </div>
    <div class="week">5</div>
    <div class="topic">
        <p>Introduction to HTML and CSS</p>
    </div>
    <div class="description1">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Some Reading</a></p>
    </div>
    <div class="description2">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Lecture Material</a></p>
    </div>
    <div id="midterm">
        <p><strong>Mid-term Exam</strong></p>
    </div>
    <div class="week">6</div>
    <div class="topic">
        <p>HTML, CSS, Box Model</p>
    </div>
    <div class="description1">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Some Reading</a></p>
    </div>
    <div class="description2">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Lecture Material</a></p>
    </div>
    <div class="week">7</div>
    <div class="topic">
        <p>Introduction to Flask, Flexbox, Media Queries</p>
    </div>
    <div class="description1">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Some Reading</a></p>
    </div>
    <div class="description2">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Lecture Material</a></p>
    </div>
    <div class="week">8</div>
    <div class="topic">
        <p>Flask and Introduction to JavaScript</p>
    </div>
    <div class="description1">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Some Reading</a></p>
    </div>
    <div class="description2">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Lecture Material</a></p>
    </div>
    <div class="week">9</div>
    <div class="topic">
        <p>Integrating Flask and SQL</p>
    </div>
    <div class="description1">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Some Reading</a></p>
    </div>
    <div class="description2">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Lecture Material</a></p>
    </div>
    <div class="week">10</div>
    <div class="topic">
        <p>Flask and SQL, examples</p>
    </div>
    <div class="description1">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Some Reading</a></p>
    </div>
    <div class="description2">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Lecture Material</a></p>
    </div>
    <div class="week">11</div>
    <div class="topic">
        <p>Wrap-Up</p>
    </div>
    <div class="description1">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Some Reading</a></p>
    </div>
    <div class="description2">
        <p><a href="{{ url_for('static', filename='pdf.pdf') }}" target="_blank">Lecture Material</a></p>
    </div>
</div>
{% endblock %}