{% extends "base.html" %}
{% block title %}Manage{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">
{% endblock %}
{% block content %}
<div class="Content">
    <!-- title of page -->
    <h1 id="title">Manage</h1>
    <!-- for flash message -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div class="manage-form">
        <h3>Update Student Grades</h3>
        <form action="/manage" method="post">
            <label for="student_utorid">Student utorid: </label>
            <input class="register-input" type="text" id="student_utorid" name="student_utorid" placeholder="i.e. johndoe123" required>
            <br>
            <label for="assignment_code">Assignment: </label> 
            <select id="assignment_code" name="assignment_code" required>
                {% for assignment in assignments %}
                    <option value="{{ assignment }}">{{ assignment }}</option>
                {% endfor %}
            </select>
            <label for="mark_update">Updated Mark: </label> 
            <input class="register-input" type="number" id="mark_update" name="mark_update" placeholder="i.e. 100" required>
            <br>
            <!-- maybe students can view the explanations given for their grades -->
            <label for="explanation">Brief Explanation: </label> 
            <textarea class="register-input" id="explanation" name="explanation" placeholder="i.e. Perfect!"></textarea>
            <br>
            <button class="full-width" type="submit" id="submit"><strong>Confirm</strong></button>
        </form>
    </div>

    <h3>Student Grades</h3>
    <table class="grade-table">
        <tr>
            <th id="top-left-corner"><h2>Student</h2></th>
            <th><h2>Assignment 1</h2></th>
            <th><h2>Assignment 2</h2></th>
            <th><h2>Assignment 3</h2></th>
            <th><h2>Midterm</h2></th>
            <th id="top-right-corner" class="bottom-border"><h2>Final</h2></th>
        </tr>
        {% for grade in grades %}
        <tr>
            <td>{{ grade.utorid }}</td>
            <td>{{ grade.assignment_1 }}</td>
            <td>{{ grade.assignment_2 }}</td>
            <td>{{ grade.assignment_3 }}</td>
            <td>{{ grade.midterm }}</td>
            <td class="bottom-border">{{ grade.final }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Remark Requests</h3>
    <table class="remark-table">
        <tr>
            <th id="top-left-corner"><h2>Student</h2></th>
            <th id="top-right-corner" class="bottom-border"><h2>Explanation</h2></th>
        </tr>
        {% for remark_request in remark_requests %}
        <tr>
            <td>{{ remark_request.utorid }}</td>
            <td class="bottom-border">{{ remark_request.explanation }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}