<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources.css">
    <title>Document</title>
</head>
<body>
    <!--navbar-->
    <div class="navbar">
        <img src="resources/logo.png">
        <a href="index.html">Home</a>
        <a href="CourseTeam.html">CourseTeam</a>
        <a href="calendar.html">Calender</a>
        <a href="lecture.html">Lecture/Lab</a>
        <a href="assignment.html">Assignment</a>
        <a href="resources.html">Resources</a>
        <a href="feedback.html">Feedback</a>
    </div>
    <article>
        <div class="content">
            <h1 id="title">Resources</h1>
            <div class="three-box">
                <div class="box" id="box1">
                    <a href="https://q.utoronto.ca/" target="_blank">Quercus</a> <br>
                    <img src="resources/quercus.PNG">
                </div>
                <div class="box" id="box2">
                    <a href="https://piazza.com/utoronto.ca/winter2024/cscb20h3s" target="_blank">Piazza</a>
                    <img src="resources/piazza.png">
                </div>
                <div class="box" id="box3">
                    <a href="https://markus2.utsc.utoronto.ca/" target="_blank">Markus</a>
                    <img src="resources/markus.png">
                </div>
            </div>
            <div class="row">
                <div class="table">
                    <div class="table-header"><h2>Extra Course Resources</h2></div>
                    <div class="week">Week 1</div>
                    <div class="resource">
                        <ul>
                            <li>
                                Relax relational algebra calculator: 
                                <a href="https://dbis-uibk.github.io/relax/calc/local/uibk/local/0" target="_blank">calculator</a>
                            </li>
                        </ul>
                    </div>
                    <div class="week">Week 2</div>
                    <div class="resource">
                        <ul>
                            <li>
                                SQLite download link: 
                                <a href="https://www.sqlite.org/index.html" target="_blank">download link</a>
                            </li>
                            <li>
                                Database we are working with:
                                <a href="resources/pdf.pdf" target="_blank">database</a>
                            </li>
                            <li>
                                DB Browser for SQL:
                                <a href="https://sqlitebrowser.org/" target="_blank">download link</a>
                            </li>
                        </ul>
                    </div>
                    <div class="week">Week 3</div>
                    <div class="resource">
                        <ul>
                            <li>
                                Database for the tutorial: 
                                <a href="resources/pdf.pdf" target="_blank">Database</a>
                            </li>
                            <li>
                                HTML Resources: <br>
                                <ul>
                                    <li>Text Editors: Visual Studio, Sublime, Atom, Notepad++</li> 
                                    <li>
                                        Validator:
                                        <a href="https://validator.w3.org/" target="_blank">https://validator.w3.org/</a>
                                    </li>
                                </ul> 
                            </li>
                            <li>
                                Python Flask Resources: 
                                <ul>
                                    <li>
                                        Python Flask Manuel:
                                        <a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank">https://flask.palletsprojects.com/en/2.2.x/</a>
                                    </li> 
                                    <li>
                                        Creation of virtual environment - venv:
                                        <a href="https://docs.python.org/3/library/venv.html" target="_blank">https://docs.python.org/3/library/venv.html</a>
                                    </li>
                                </ul> 
                            </li>
                        </ul>
                    </div>
                    <div class="week">Week 4</div>
                    <div class="resource">
                        <ul>
                            <li>
                                Database used in lecture:
                                <a href="resources/pdf.pdf" target="_blank">database</a>
                            </li>
                        </ul>
                    </div>
                    <div class="week">Week 5</div>
                    <div class="resource">
                        <ul>
                            <li>
                                VS Code:
                                <a href="resources/pdf.pdf" target="_blank">download link</a>
                            </li>
                        </ul>
                    </div>
                    <div class="week">Week 7</div>
                    <div class="resource">
                        <ul>
                            <li>
                                JavaScript Documentation:  
                                <a href="resources/pdf.pdf" target="_blank">documentation</a>
                            </li>
                        </ul>
                    </div>
                    <div class="week">Week 8</div>
                    <div class="resource">
                        <ul>
                            <li>
                                Flask SQLAlchemy user guide:  
                                <a href="resources/pdf.pdf" target="_blank">guide</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table2">
                    <div><h2 class="table-header2">Extra Support Resources</h2></div>
                    <div class="resource2">
                        <ul>
                            <li>
                                Academic Advising & Career Centre (AA&CC)
                                <ul>
                                    <li>
                                        Website:
                                        <a href="https://www.utsc.utoronto.ca/aacc/"  target="_blank">https://www.utsc.utoronto.ca/aacc/</a>
                                    </li>
                                    <li>
                                        Office: AC213
                                    </li>
                                    <li>
                                        Phone number: 416-287-7561
                                    </li>
                                    <li>
                                        Email: 
                                        <a href="resources/pdf.pdf" target="_blank">aacc.utsc@utoronto.ca</a> 
                                    </li>
                                </ul>
                            </li>
                            <li>
                                AccessAbility Services 
                                <ul>
                                    <li>
                                        Website:
                                        <a href="https://www.utsc.utoronto.ca/ability/" target="_blank">https://www.utsc.utoronto.ca/ability/</a>
                                    </li>
                                    <li>
                                        Office: AA142
                                    </li>
                                    <li>
                                        Phone number: 416-287-7560
                                    </li>
                                    <li>
                                        Email: 
                                        <a href="resources/pdf.pdf" target="_blank">ability.utsc@utoronto.ca</a> 
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Health & Wellness Centre
                                <ul>
                                    <li>
                                        Website:
                                        <a href="https://www.utsc.utoronto.ca/hwc/" target="_blank">https://www.utsc.utoronto.ca/hwc/</a>
                                    </li>
                                    <li>
                                        Office: SL270
                                    </li>
                                    <li>
                                        Phone number: 416-287-7065
                                    </li>
                                    <li>
                                        Email: 
                                        <a href="resources/pdf.pdf" target="_blank">health.utsc@utoronto.ca</a> 
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- Footer -->
    <div class="footer">
        <p>© 2024 CSCB20. All Rights Reserved. Site designed by Lucy Lin and Snow Shi. <br>
            <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at University of Toronto</a>
        </p>
    </div>
</body>
</html>